.ImageCarousel {
  position: relative;
  width: 100%;
}

.Overlay {
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 50vw;
  left: calc(50% - 25vw);
  height: 50vw;
  top: calc(50% - 25vw);
}

@media screen and (max-width: 678px) {
  .Overlay {
    width: 50vw;
    left: calc(50% - 25vw);
    height: 50vw;
    top: calc(50% - 25vw);
  }
}
